<aside class={Astro.props.class}>
	<p>
		I prefer a
		<button
			id="font-toggler"
			class="border themed-borders px-2 py-1 rounded-lg"
		>
			sans / serif
		</button>
		font
	</p>

	<label>
		WPM:
		<input
			class="w-[6ch] min-w-[3ch] p-1 border themed-borders rounded-lg text-center bg-carrot-orange-100 dark:bg-[#333]"
			type="number"
			name="speed-input"
			id="speed-input"
			value="300"
			step="50"
			min="0"
		/>
	</label>

	<label>
		Go to word N°
		<input
			class="w-[3ch] min-w-[3ch] p-1 border themed-borders rounded-lg text-center bg-carrot-orange-100 dark:bg-[#333]"
			type="number"
			name="word-number-input"
			id="word-number-input"
			value="0"
			min="0"
		/>
	</label>

	<label>
		Amount of words
		<input
			class="w-[3ch] min-w-[3ch] p-1 border themed-borders rounded-lg text-center bg-carrot-orange-100 dark:bg-[#333]"
			type="number"
			name="amount-word-input"
			id="amount-word-input"
			value="1"
			min="1"
			max="4"
		/>
	</label>
</aside>

<style>
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type="number"] {
		-moz-appearance: textfield; /* Firefox */
	}
</style>

<script>
	import { FONTS } from "../constants";
	import {
		setAmountOfWords,
		setFont,
		setIndex,
		setWPM,
		text,
	} from "../stores/configs";

	let fontoggle = document.getElementById("font-toggler");
	let speed = document.getElementById("speed-input");
	let wordnum = document.getElementById("word-number-input");
	let amount = document.getElementById("amount-word-input");

	fontoggle?.addEventListener("click", () => {
		setFont(
			text.get().font === FONTS.GARAMOND ? FONTS.LATO : FONTS.GARAMOND,
		);
	});

	speed?.addEventListener("input", (e) => {
		// @ts-ignore
		e.target.style.width = e.target.value.length + 2 + "ch";

		// @ts-ignore
		let newSpeed = isNaN(parseInt(e.target.value))
			? 300
			: // @ts-ignore
				parseInt(e.target.value);
		setWPM(newSpeed);
	});

	wordnum?.addEventListener("input", (e) => {
		// @ts-ignore
		e.target.style.width = e.target.value.length + 2 + "ch";

		// @ts-ignore
		let newIndex = isNaN(parseInt(e.target.value))
			? 0
			: // @ts-ignore
				parseInt(e.target.value);
		setIndex(newIndex);
	});

	amount?.addEventListener("input", (e) => {
		// @ts-ignore
		e.target.style.width = e.target.value.length + 2 + "ch";

		// @ts-ignore
		let newAmount = isNaN(parseInt(e.target.value))
			? 0
			: // @ts-ignore
				parseInt(e.target.value);
		setAmountOfWords(newAmount);
	});

	document.addEventListener("keypress", (e) => {
		if ("+".localeCompare(e.key) === 0) setWPM(text.get().wpm + 50);
		if ("-".localeCompare(e.key) === 0) setWPM(text.get().wpm - 50);
	});

	text.subscribe((v, ov, c) => {
		let changedKey = c ?? "none";

		if ("wpm".localeCompare(changedKey)) {
			// @ts-ignore
			speed.value = v.wpm;
		}
	});
</script>
