<aside class={Astro.props.class}>
	<p>
		I prefer a
		<button
			id="font-toggler"
			class="border themed-borders px-2 py-1 rounded-lg"
		>
			sans / serif
		</button>
		font
	</p>

	<label>
		WPM:
		<input
			class="w-[6ch] min-w-[3ch] p-1 border themed-borders rounded-lg text-center bg-carrot-orange-100 dark:bg-[#333]"
			type="number"
			name="speed-input"
			id="speed-input"
			value="200"
			min="0"
		/>
	</label>

	<label>
		Go to word N°
		<input
			class="w-[3ch] min-w-[3ch] p-1 border themed-borders rounded-lg text-center bg-carrot-orange-100 dark:bg-[#333]"
			type="number"
			name="word-number-input"
			id="word-number-input"
			value="0"
			min="0"
		/>
	</label>

	<label>
		Speech character/s
		<input
			class="w-[3ch] min-w-[3ch] p-1 border themed-borders rounded-lg text-center bg-carrot-orange-100 dark:bg-[#333]"
			type="text"
			name="speech-char-input"
			id="speech-char-input"
			value='"'
			minlength="1"
		/>
	</label>
</aside>

<style>
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type="number"] {
		-moz-appearance: textfield; /* Firefox */
	}
</style>

<script>
	import { FONTS } from "../constants";
	import { setFont, setWPM, text } from "../stores/text";

	let fontoggle = document.getElementById("font-toggler");
	let speed = document.getElementById("speed-input");
	let wordnum = document.getElementById("word-number-input");
	let speechar = document.getElementById("speech-char-input");

	fontoggle?.addEventListener("click", () => {
		setFont(
			text.get().font === FONTS.GARAMOND ? FONTS.LATO : FONTS.GARAMOND,
		);
	});

	speed?.addEventListener("input", (e) => {
		// @ts-ignore
		e.target.style.width = e.target.value.length + 2 + "ch";

		// @ts-ignore
		let newSpeed = parseInt(e.target.value.length) ?? 200;
		if (newSpeed) setWPM(newSpeed);
	});

	wordnum?.addEventListener("input", (e) => {
		// @ts-ignore
		e.target.style.width = e.target.value.length + 2 + "ch";
	});

	speechar?.addEventListener("input", (e) => {
		// @ts-ignore
		e.target.style.width = e.target.value.length + 2 + "ch";
	});
</script>
