---
import Modal from "./Modal.astro";
import ThemeToggler from "./ThemeToggler.astro";

interface Props {
	class?: string;
}
---

<section class={Astro.props.class}>
	<div class="flex gap-8">
		<!-- How to use -->
		<button
			title="How to use"
			class="font-mono text-3xl border themed-borders themed-icons rounded-full w-10 h-10 pt-[0.125rem] hover:scale-110 transition-transform"
		>
			?
		</button>

		<!-- Why use -->
		<button
			title="Why use"
			class="font-mono text-3xl border themed-borders themed-icons rounded-full w-10 h-10 pt-[0.125rem] hover:scale-110 transition-transform"
		>
			!
		</button>

		<!-- Theme Toggler -->
		<ThemeToggler
			class="w-10 h-10 inline-flex hover:scale-110 transition-transform themed-icons"
		/>
	</div>

	<div>
		<button
			id="text-upload"
			class="text-xl tracking-wider font-bold px-6 py-3 rounded-3xl border-2 themed-borders themed-icons"
		>
			Load Text
		</button>
	</div>
</section>

<Modal title="How to use">
	<ul class="text-xl text-pretty max-w-prose flex flex-col gap-6 mt-10">
		<li>Press the "Load Text" button on the upper right</li>
		<li>
			Paste the text you want to read on the text area that will appear
			when clicking the button, and press "Ready" when you finished
		</li>
		<li>
			The first word will appear in the center where there used to be a
			big "Word". Now you can start by pressing the "Play / Pause" button
			or by using the spacebar (do fix your vision on the word because it
			moves fast)
		</li>
		<li>
			Upon pausing the single word in the center will expand and show the
			last 50 words, in case you distracted for a bit
		</li>
		<li>
			Aditionally you can change of font between a sans-serif (Lato) and a
			serif (Garamond) type, the words per minute (WPM) and the speech
			character that the text uses for conversations
		</li>
	</ul>
</Modal>
