<aside class={Astro.props.class}>
	<div class="flex items-baseline justify-center gap-1">
		<span class="text-sm">On word N°</span>
		<span id="word-number" class="font-bold text-lg">0</span>
	</div>

	<!-- For future development including EPUB upload -->
	<!-- <div class="flex items-baseline justify-center gap-1">
		<span class="text-sm">On page N°</span>
		<span id="page-number" class="font-bold text-lg">0</span>
	</div> -->

	<!-- For future development including EPUB upload -->
	<!-- <div class="flex items-baseline justify-center gap-1">
		<span class="text-sm">On chapter</span>
		<span id="chapter" class="font-bold text-lg">Chapter 1</span>
	</div> -->
</aside>
