---

---

<div
	id="word"
	class="text-6xl text-center px-32 py-4 border themed-borders mt-auto rounded-3xl"
>
	Word
</div>

<script>
	import {
		setIndex,
		setStopPlaying,
		text,
		togglePlay,
	} from "../stores/configs";

	const wordContainer = document.getElementById("word");

	const startPlaying = (wpm: number) => {
		return setInterval(
			() => {
				setIndex(text.get().index + text.get().amountOfWords);
			},
			1000 / (wpm / 60),
		);
	};

	// @ts-ignore
	const updateWord = (w: string) => (wordContainer.innerText = w);

	text.subscribe((v, ov, c) => {
		const keyChanged = c ?? "none";

		if ("play".localeCompare(keyChanged) === 0) {
			if (v.play) {
				setStopPlaying(startPlaying(v.wpm));
			} else {
				clearInterval(v.stopPlaying);
				setStopPlaying(-1);
			}
		}

		if (
			"index".localeCompare(keyChanged) === 0 ||
			"amountOfWords".localeCompare(keyChanged) === 0
		)
			updateWord(
				v.words.slice(v.index, v.index + v.amountOfWords).join(" "),
			);

		if ("words".localeCompare(keyChanged) === 0 && v.words.length > 0) {
			if (v.play) {
				clearInterval(v.stopPlaying);
				setStopPlaying(-1);
			}
			updateWord(v.words.slice(0, v.amountOfWords).join(" "));
			setIndex(0);
		}

		if ("wpm".localeCompare(keyChanged) === 0) {
			if (v.play) {
				togglePlay();
				togglePlay();
			}
		}
	});
</script>
