---
import "@fontsource/eb-garamond";
import "@fontsource/lato";
import "../utilities.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<!-- Best inline in `head` to avoid FOUC -->
		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body
		class="w-screen h-screen max-w-screen min-h-screen bg-carrot-orange-100 text-carrot-orange-950 dark:bg-[#333] dark:text-carrot-orange-50"
	>
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: "EB Garamond", serif;
	}
</style>

<script>
	import { text } from "../stores/configs";

	text.subscribe((v, ov, c) => {
		if (c === "font") {
			const html = document.querySelector("html");
			if (html) html.style.fontFamily = v.font;
		}
	});
</script>
